{% extends 'register/navigations.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 15px;">
	<h3>Hồ sơ</h3>
</div>

<hr>

{% for message in messages %}
<div class="container">
	<p id="messages">{{message}}</p>
</div>

{% endfor %}

<div class="container">
	{% for item in data %}
	<span style="font-weight: 600;">Tên đội: </span>
	{{ item.team }}
	<br>
	<span style="font-weight: 600;">Email: </span>
	{{ item.email }}
	<br>
	<span style="font-weight: 600;">Lệ phí thi: </span>
	{% if item.paid == True %}
		<span style="color: #4cf2d2;">Đã thanh toán</span>
	{% else %}
		<span style="color: #fcf951ff;">Chưa thanh toán</span>
	{% endif %}
	<br>
	{% endfor %}

</div>
<br>

{% if data %}
<div class="container">
<table>
	<tbody>
		{% for item in data %}
		<tr>
			<th>Họ và Tên</th>
			<th>CMND/CCCD</th>
			<th>Số điện thoại</th>
			<th>Trường</th>
		</tr>
		<tr>
			<td>{{ item.member1 }}</td>
			<td>{{ item.cmnd1 }}</td>
			<td>{{ item.phone1 }}</td>
			<td rowspan="3" style="text-align: center;">{{ item.school }}</td>
		</tr>
		<tr>
			<td>{{ item.member2 }}</td>
			<td>{{ item.cmnd2 }}</td>
			<td>{{ item.phone2 }}</td>
		</tr>
		<tr>
			<td>{{ item.member3 }}</td>
			<td>{{ item.cmnd3 }}</td>
			<td>{{ item.phone3 }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<p style="margin-top: 8px;">ℹ️ Mọi thông tin thắc mắc hoặc thay đổi vui lòng liên hệ Ban Tổ Chức tại mail: ucpc@uit.edu.vn</p>
</div>

<hr>
<div class="container">
	<h4>Thanh Toán</h4>
	<div class="row" style="margin-bottom: 40px;">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<p>MOMO: 0703482103 - Huynh Thi My Duyen</p>
			<p>Nội Dung: Tên đội - Nộp Lệ Phí UCPC 2021</p>
			<p>Lệ Phí: 90.000 đồng/Đội</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<img src="{% static 'register/images/MOMO/momo.png' %}" style="width:150px; margin-top: 10px;">
		</div>
		
	</div>
	
</div>
{% endif %}

{% endblock content %}