#footer .organizers .unit_logo .row    
{
  align-items: center;
  text-align: center;
}

#footer .organizers .unit_logo .unit .UIT {
    width: 90%;
}
  
#footer .organizers .unit_logo .unit .HSV {
    width: 80%;
} 
  
#footer .organizers .unit_logo .unit .CS {
    width: 120%;
}
  
@media only screen and (max-width: 768px)
{
  #footer .organizers .unit_logo .unit .UIT {
    width: 90%;
  }

  #footer .organizers .unit_logo .unit .HSV {
    width: 80%;
  }

  #footer .organizers .unit_logo .unit .CS {
    width: 120%;
  }
}

@media only screen and (max-width: 543px)
{
    #footer .organizers .unit_logo .unit .UIT {
        width: 90%;
    }
    
    #footer .organizers .unit_logo .unit .HSV {
        width: 80%;
    }
    
    #footer .organizers .unit_logo .unit .CS {
        width: 120%;
    }
}